nav ul {
    list-style-type: none;
    margin-top: 0;
    width:200px;
    margin-left: auto;

}

.navigation {
    list-style: none;
    padding-left: 10px;
    
}
.ham{
    margin-left: 170px;
}

.navigation li {
    display: none;
    padding-left: 0;
    padding-right: 0;
}

.navigation li:first-child {
    display: block;
    

}

.navigation a {
    display: block;
    color: black;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    

}


.navigation a:hover {
    background-color:rgb(38, 255, 230);
    font-weight: bold;
    transition: 0.7s;
  

}


.responsive li {
    display: block;
    margin-left: 100px;
 
}
main{
    display: block;
    width: 100%;
    padding-left: 10px;

}
.contact{

    
    border-bottom: 2px solid rgb(38, 255, 230);

}
.contact p:nth-child(1){
    line-height: 1.5em;
}



.frame{
    width: auto;
    margin-top: 2em;
}
form{
    display: flex;
    flex-direction: column;
    padding:.75rem;
    border: 2px solid rgb(38, 255, 230);
    border-radius: 10px;
    margin: 20px;
}

form input{
    display: block;
    margin-bottom: 1em;
    padding:.50rem;
    border-radius: 5px;

}
textarea{
    padding: .50rem;
}
.msg{
    margin-top: 1em;
    background-color: rgb(255, 38, 63);
    font-family:'Fugaz One', cursive;
    color: black;
    font-size: 1.3em;
    border-left: none;
    border-radius: 10px;
}
input:required{
    border-left: 3px solid red;
}
input:valid{
    border-left: 3px solid green;
}

body{
    font-family: 'Raleway', sans-serif;
}
h2{
   font-family: 'Fugaz One', cursive;
   background-color: rgb(38, 255, 230);
   background-image: linear-gradient(to right, rgb(38, 255, 230) , rgb(38, 255, 230), rgb(255, 38, 63));
   padding: .50rem;
   
}


.first{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
}

.navMenu{
    align-self: end;
    
}

main p{
    white-space: pre-wrap;
}



.foot-ul li{
    display: inline;

}
.foot-ul{
    padding-left: 3px;
    margin-bottom: 5px;
}
footer{
    background-color:  rgb(38, 255, 230);
    padding: 1em;
    font-weight: bold;
    font-size: 0.75rem;
   
}
.foot-ul li:nth-of-type(2), .foot-ul li:nth-of-type(3), .foot-ul li:nth-of-type(1){
    border-right: 1px solid black;
    padding-right:5px;

}


#foot-div{
    padding: 0;
    margin-left: 3px;
}
.medium-img{
    display: none;
}
.active{
    background-color:rgb(38, 255, 230);

}



