@media only screen and (min-width:32.5em) {
    .navigation {
        display: flex;
        padding-left: 0;
        background-color: rgb(38, 255, 230,0.3);

    }
    .navigation a:hover{
        padding-left:0;
        background-color: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
        padding-left:10px;
        font-weight: bold;
        color: rgb(38, 255, 230);
      
    }

    .navigation a {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        
        
    }

    .navigation li:first-child {
        display: none;
    }
    .medium-img{
        display:block;
    }
    .first{
        position: absolute;
        z-index: 1;
        top: 0;
       
    }
    .paragraph{
        top: 100px;
    }
    
    button{
        top: 110px;
    }
   }