nav ul {
    list-style-type: none;
    margin-top: 0;

}

.navigation {
    list-style: none;
    padding-left: 0;

}
.navigation li {
    display: none;
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
}

.navigation li:first-child {
    display: block;
    

}

.navigation a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 0.75rem;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
    

}


.navigation a:hover {
    background-color: rgb(211, 211, 211);
    font-weight: bold;
    transition: 0.7s;

}


.navigation a:active {
    color: rgb(255, 99, 60);

}


.responsive li {
    display: block;
}

body{
    font-family: 'Raleway', sans-serif;
}
h1, h2{
   font-family: 'Fugaz One', cursive;
}
.hero{
    width: 100%;
}
.first{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}
.navMenu{
    align-self: end;
}
.hero{
    position: relative;
   
}
.heroImg{
    width: 100%;
}
.note{
    position: absolute;
    top: 130px;
    left: 10px;
    font-family: 'Fugaz One', cursive;
    font-size: 2em;
    color:rgb(255, 38, 63);
  
    

}

button{
    position: absolute;
    top: 260px;
    left: 10px;
    background-color:rgb(38, 255, 230);
    color:rgb(255, 38, 63);
    font-weight: bold;
}
.weather-information, .day-forecast, .offered, .contact-us, .social-media{
    display: block;
    padding-left:10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid rgb(38, 255, 230);   
}
.foot-ul li{
    display: inline;

}
.foot-ul{
    padding-left: 3px;
    margin-bottom: 5px;
}
footer{
    background-color:  rgb(38, 255, 230);
    padding: 1em;
    font-weight: bold;
    font-size: 0.75rem;
}
.foot-ul li:nth-child(2), .foot-ul li:nth-child(1){
    border-right: 2px solid black;
    padding-right:5px;
}
#foot-div{
    padding: 0;
    margin-left: 3px;
}



