nav ul {
    list-style-type: none;
    margin-top: 0;
    width:200px;
    margin-left: auto;
    
}

.navigation {
    list-style: none;
    padding-left: 10px;
    
    
}
.ham{
    margin-left: 170px;
}

.navigation li {
    display: none;
    padding-left: 0;
    padding-right: 0;
  
   
  
    
}

.navigation li:first-child {
    display: block;
  
    

}



.navigation a {
    display: block;
    color: black;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
   }




.navigation a:hover {
    background-color:rgb(38, 255, 230);
    font-weight: bold;
    transition: 0.7s;
  

}


.responsive li {
    display: block;
    margin-left: 100px;
}
main{
    display: block;
}

body{
    font-family: 'Raleway', sans-serif;
}
h1, h2{
   font-family: 'Fugaz One', cursive;
   
}
.hero{
    width: 100%;
}
.first{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
}

.navMenu{
    align-self: end;
    
}
.hero{
    position: relative;
   
}
.heroImg{
    width: 100%;
}
.second{
    position: relative;
    height: auto;
}

.paragraph{
    position: absolute;
    margin: 0;
    top: 30px;
    left: 10px;
    font-family: 'Fugaz One', cursive;
    color:rgb(255, 38, 63);
    font-size: 1.5em;
}

.paragraph p{
    line-height: 1.5em;
    margin-bottom: 0;
}
table{
    background-color: darkturquoise;
    border-collapse: collapse;
    width:230px;
    margin-bottom: 30px;

}

table th{
    padding: .50rem;
    border: 2px solid rgb(255, 38, 63);
}
table td{
    text-align: center;
    border: 2px solid rgb(255, 38, 63);
}

.button{
    position: absolute;
    left: 3px;
    top: 120px;
    background-color:rgb(38, 255, 230);
    background-image: linear-gradient(to right, rgb(38, 255, 230) , rgb(38, 255, 230), rgb(255, 38, 63));
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 0.50rem;
    border-radius: 5px;
}
.weather-information, .day-forecast, .offered, .contact-us, .social-media{
    display: block;
    padding-left:10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid rgb(38, 255, 230);   
}
.foot-ul li{
    display: inline;
   
}
.foot-ul{
    padding-left: 3px;
    margin-bottom: 5px;
}
footer{
    background-color:  rgb(38, 255, 230);
    padding: 1em;
    font-weight: bold;
    font-size: 0.75rem;
   
}
foot-ul li:nth-of-type(1), foot-ul li:nth-of-type(2), foot-ul li:nth-of-type(3){
    border-right: 2px solid black;
    padding-right:5px;

}


#foot-div{
    padding: 0;
    margin-left: 3px;
}
.medium-img{
    display: none;
}
.active{
    background-color:rgb(38, 255, 230);

}



