nav ul {
    list-style-type: none;
    margin-top: 0;

}

.navigation {
    list-style: none;
    padding-left: 0;

}
.navigation li {
    display: none;
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
}

.navigation li:first-child {
    display: block;

}

.navigation a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 0.75rem;
    text-align: center;
    padding-left: 0;
    padding-right: 0;

}


.navigation a:hover {
    background-color: rgb(211, 211, 211);
    font-weight: bold;
    transition: 0.7s;

}


.navigation a:active {
    color: rgb(255, 99, 60);

}


.responsive li {
    display: block;
}

body{
    font-family: 'Raleway', sans-serif;
}
h1, h2{
    font-family: 'PT Serif', serif;
}
