@media only screen and (min-width:60em){
    main{
        width:70%;
        margin: 0 auto;
    }
    body{
        font-weight: bold;
    }
    .first{
        left: 200px;
    }
    
    footer{
        width: 68%;
        margin: 0 auto;
    }
}