@media only screen and (min-width:32.5em) {
    .navigation {
        display: flex;
        padding-left: 0;
        margin-bottom: 23px;
    }
    .navigation a:hover{
        padding:10;
        background-color: rgb(38, 255, 230, 0);
        color: rgb(255, 38, 63);
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
        font-weight: bold;
        color: rgb(38, 255, 230);
      
    }

    .navigation a {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
       
        
        
    }
    nav ul{
        width: auto;
    }

    .navigation li:first-child {
        display: none;
    }
    
   header img{
       grid-column: 1/2;
   }

  
    
   footer{
    width: 100%;
    display: block;
   }


   }