body{
    font-family: 'Courier Prime', monospace;

}

h1,h2{
    font-family: 'Francois One', sans-serif;
}
img{
    width:100px;
    height: 100px;
}
header,footer{
    background-color: #12BA85;
    width:80%;
    height:auto;
    margin: 0 auto;
}
main{
    width:80%;
    height:auto;
    margin:0 auto;
}
h1{
    padding-left:10px;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;

}
.first{
    padding:

}

nav ul li{
    text-decoration: none;
}