body{
    font-family: 'Courier Prime', monospace;

}

h1,h2{
    font-family: 'Francois One', sans-serif;
}
img{
    width:100px;
    height: 100px;
}
header,footer{
    background-color: #12BA85;
    width:80%;
    height:auto;
    margin: 0 auto;
}
main{
    width:80%;
    height:auto;
    margin:0 auto;
}
h1{
    padding-top:30px;
    text-align: center;
    margin-bottom: 0;
    font-size: 2em;
    
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;

}
.first{
    padding:20px;
    text-decoration:none;

}
nav a{
    text-decoration: none;
    font-family:'Francois One', sans-serif; 
}

nav ul li{
    text-decoration: none;
}

footer{
    text-align: center;
    font-size: smaller;
    padding-left: 30px;
    


    
}
footer ul{
   
    list-style-type: none;
    display: inline;
}
footer ul li{
    display: inline;
}