@media only screen and (min-width:32.5em) {
    h1 {
        font-size: 1.5rem;
        padding-top: 30px;
    }

    h2 {
        font-size: 1.5rem;
        padding-bottom: 10px;
    
    }

    header img {
        padding: 0;


    }

    main {
        height: auto;
    }

    footer {
        height: auto;
    
    }


}