body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}



.content {
    max-width: 80%;
    height: auto;
    margin: 0 auto;



}
header{
    margin:0;
    padding:0;
    max-width: 100%;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    padding-top: 50px;
    padding-left: 300px;
    padding-bottom: 50px;
    font-weight: 600;
    letter-spacing: 5px;
    background-color: rgba(70, 53, 53, 0.6);
    ;

}

main {
    background-color: #D6D6D6;
    margin: 0;
    height: 100%;


}

h2 {
    font-size: 1.5em;
    padding-top: 2em;
    padding-left: 20px;
    margin:0;
    border-bottom: 1px solid grey;

}

main ul li {
    padding: 10px;
    margin-left: 40px;
}
main ul{
    margin:0;
}

 header img{
    float:right;
    padding:30px;
    box-shadow: 15px 10px 30px 10px rgba(7, 7, 7, 0.2)
}

footer {
    background-color: rgba(70, 53, 53, 0.6);
    padding: 15px;
    margin: 0;
}

.second {
    text-align: center;
}

ul #first,
#second,
#third {
    border-right: 1px solid black;
}

.second li {
    display: inline;
    padding: 5px;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 20px;
    transition: 0.5s;
}

a {
    padding: 10px;
    margin: 5px;
}

#footer-div {
    text-align: center;
    font-size: smaller;
    padding-left: 30px;
}

