@media only screen and (min-width:60em) {
    

    body {
        font-size: 1em;
    }

    header div {
        font-size: smaller;
    }

    nav {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
    }

    .navigation {
        width: 50%;
        margin: 0 auto;
        font-size: smaller;

    }


    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    main h2{
        grid-row: 1/2;
        grid-column: 1/4;
    }
    figure:hover{
        box-shadow: 0 0 50px #333;
        transition: 0.3s;
    }
    figcaption:hover{
        transform: scale(1.3);
    }


}