/*body{
    width:50%;
    margin: 0 auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
    font-family: Ubuntu, sans-serif;
}
header, footer{
    background-color: #7fb9c2;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    

}*/

table{
    width: 350px;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    border: 2px solid lightgray;
    font-family: Ubuntu, sans-serif;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
    
}
thead{
    color: black;
}



table thead{
    background-color:#7fb9c2;
    color: black;
    font-size: 2.3em;
}
thead th{
    padding:15px;
}
tbody tr th{
    color: white;
    background-color:#628ca6;
    padding: 10px;
    font-size: 1.5em;
    
}
tfoot tr td{
    background-color:#7fb9c2;
    font-size: 0.75rem;
}

td, th{
    border: 1px solid lightgray;
}
tr td{
    padding:10px;

}
 tbody tr{
    background-color: #e7ffed;
}

tr:nth-child(even){
    background-color:#e7f0ed;
}
.blue{
    background-color:#628ca6;
    color:white;
}

