/*body{
    width:50%;
    margin: 0 auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
    font-family: Ubuntu, sans-serif;
}
header, footer{
    background-color: #7fb9c2;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    

}*/

table{
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid gray;
    font-family: Ubuntu, sans-serif;
}

}
tr th{
    background-color: #628ca6;
    color: white;
    padding: 10px;


}
tr{
    background-color:#e7f0ed;
}
td, th{
    border: 1px solid lightgray;
}
tr td{
    padding:10px;

}
.blue{
    background-color:#628ca6;
    color:white;
}

tr:nth-child(even){
    background-color:#e7ffed;
}


footer h2{
    font-size: 0.75rem;
}

