@media only screen and (min-width:60em){
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }

    #head-par{
        font-size: 2em;
    }

    #head{
        font-size: 3em;
    }

    footer{
        font-size: font-size: 1em;;
    }
}