img{
    width:400px;
    height: auto;
}



main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:10px;
}

footer{
    text-align: center;
    height: auto;
    font-weight: lighter;
    font-size: 1em;
}

li{
    display: inline;
}

p,h1,h2{
    text-align: left;
}

body{
    font-family: 'Varela Round', sans-serif;
}
h1{
    
    font-weight: lighter;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: 0;
    

}
#head-par{

    margin-top: 0;
    font-family: 'Secular One', sans-serif;
    font-size: 2em;
    text-align: center;
    

}

#head{
    font-size: 3em;
    margin-bottom: 0;
    font-style: italic;
    text-decoration: none;
    text-align: center;
    font-family: 'Secular One', sans-serif;
}
