body{
    margin:0;
    font-family: 'Quicksand', sans-serif;
    font-size: smaller;
}

.logo{
    width: 100px;
    height: auto;
}
h1,h2{
    font-family: 'Righteous', cursive;
}

h1{
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
}
header p{
    margin-top: 0;
}
header{
    background-color: rgba(60,216,255);
    display: flex;

}
nav{
    background-color: rgb(255, 199, 60);
}
nav ul{
    list-style-type: none;
    margin-top:0;
}
nav a{
    text-decoration: none;
}
.navigation{
    list-style: none;
    padding-left:15px;

}
.navigation li{
display: none;
padding: 10px;
}
.navigation li:first-child {
    display: block;
}
.navigation a{
    display: block;
    color: black;
    



}
.responsive li{
    display: block;

   
}
.ham{
    background-color:rgb(255, 199, 60); 
}

.navigation a:hover {
    background-color: whitesmoke;
}

main{
    display: block;
}
main h2{
    padding-left: 20px;
    margin-bottom: 0;
    font-size:small;
    font-weight: lighter;
}

.content{
    padding-left:20px;
    padding-top: 10px;
    font-size: smaller;
}
    

footer{
    background-color: rgb(255, 199, 60);
}
