.first{
    background-color:#9e823a;
  }
  .third{
    background-color:#9e9b3a;
  }
  .second{
    background-color:#9e693a;
  }
  
  img{
    width: 400px;
    height: auto;
    padding-left:10px;
  }
  
  h1,p{
    padding-left: 10px;
    font-family: sans-serif;
  }
  main{
    display: block;
  }

  img{
      display:none;
  }

  @media only screen and (min-width:48em){
      main{ display: grid;
        grid-template-columns: 1fr 1fr;}
.panda, .dogs{
    display: block;
}

     
  }

  @media only screen and (min-width:60em){
    main{ display: grid;
      grid-template-columns: 1fr 1fr 1fr;}
   .panda, .dogs, .cat{
       display:block;
   }
}


 

  
 
  
  