@media only screen and (min-width:60em){
    .logo{
        width: 150px;
        height: auto;
    }
    body{
        font-size: 1em;
    }
    header div{
        font-size: smaller;
    }
    nav{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .navigation{
        width: 50%;
        margin: 0 auto;
        font-size: smaller;

    }
    main #preston{
        margin-top: 20px;
        font-size: smaller;
    }
    main{
        width:80%;
        margin: 0 auto;
        
    }
    .hero-ph img{
        height: 500px;
    }
    article img{
        margin-left: 5px;
    }
    article h2{
        font-size: smaller;
        font-weight: bold;
       
    }
    article p{
        font-weight: lighter;
    }
    .third-div h3{
        font-size: smaller;
       
    }
    .third-div{
        margin-top: 30px;
    }
    .third-div p{
        font-weight: lighter;
    }
    .second-div h2{
        margin-bottom: 20px;
        font-size: smaller;
    }
}