@media only screen and (min-width:32.5em){
    .navigation{
        display: flex;
        padding-left: 0;
      
    }
    .navigation li{
        display: block;
        flex: 1 1 auto;
        padding-left: 0;
        padding-right: 0;
    }
    .navigation a {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    .navigation li:first-child{
        display: none;
    }

    body{
        font-size: 1em;
    }

    .navigation a:hover{
        background-color: white;
        color: rgb(255,99,60);
    }
 

    .logo{
        width: 150px; 
        height: auto;
        margin: auto;
        margin-right: 0;
    }

    header div{
        width: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    header h1{
        font-size: 2em;
    }

    main h2{
        font-size: 1.3em;
        text-align: center;
    }
    main{
        font-size: 1.2em ;
    }
    .content{
        font-weight: bold;
        padding:15px;
        text-align: center;
    }
footer{
    font-weight: bold;
}

.second-div{
    display: block;
   
   
}

.weather-summary{
    top: 30%;
    width:50%;
}
article img{
    width: 400px;
    float:right;
    margin-left: 10px;
}
article h2{
    text-align: left;
   
}
h2, h3{
    font-weight: bolder;
}
td img{
    width: 70px;
}
td, th{
    border: 1px solid rgb(211,211,211);
    text-align: center;
    font-size: smaller;
    font-weight: lighter;
   
}
table{
    width:50%;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 5px rgb(211,211,211);
}
tr th{
    background-color:rgba(60,216,255,0.5);
}
.second-div{
    margin-bottom: 100px;
    margin-top: 100px;
}
}