body{
    margin:0;
    font-family: 'Libre Franklin', sans-serif;
    font-size: smaller;
}

.logo{
    width: 100px;
    height: auto;
}
h1,h2{
    font-family: 'Nanum Myeongjo', serif;
}

h1{
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
}

aside{
    display: none;
    background-color:rgb(255,99,60);
   
    
}
aside p{
    text-align: center;
    color: whitesmoke;
    margin:0;
    padding: 10px;
   
}
header p{
    margin-top: 0;
}
header{
    background-color: rgba(60,216,255);
    display: flex;

}

nav ul{
    list-style-type: none;
    margin-top:0;
}

.navigation{
    list-style: none;
    padding-left:15px;
    
}

.navigation li{
display: none;
padding: 5px;
}

.navigation li:first-child {
    display: block;
   
}
.navigation a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 0.75rem;
    text-align: left;

}
.navigation a:hover{
    background-color:rgb(255,99,60,0.5);
    font-weight: bold;
    transition: 0.7s;

}
.responsive li{
    display: block;
}


main{
    display: block;
    font-weight: bold;
}
main h2{
    padding-left: 20px;
    margin-bottom: 0;
    font-size:small;
    font-weight: lighter;
}

.content{
    padding-left:20px;
    padding-top: 10px;
    font-size: smaller;
}
    

footer{
    background-color: rgba(60,216,255);
    font-size: smaller;
    font-weight: bold;

}

.second{
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    padding-left: 0;
}
.second li{
    display: inline;
}
footer a{
    text-decoration: none;
    color: black;
    font-style: italic;
}
footer a:hover{
    color:rgb(245,175,0);
}

#second, #third, #fourth{
    border-right: 1px solid grey;
    padding-right: 3px;
}
#footer-div{
    font-size: smaller;
    text-align: center;
    padding-bottom: 10px;
}


