@media only screen and (min-width:32.5em) {
    .navigation {
        display: flex;
        padding-left: 0;

    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
        padding-left: 0;
        padding-right: 0;
    }

    .navigation a {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    .navigation li:first-child {
        display: none;
    }

    

    .navigation a:hover {
        background-color: white;
        color: rgb(255, 99, 60);
    }

    .home{
        display: grid;
        grid-template-columns: 1fr;
      
    }
    .townsect{
       
        display: grid;
        grid-template-columns:1fr 1fr;
        padding: 1em;
    }
   
    .townsect:nth-child(1) img,.townsect:nth-child(3){
        grid-column: 1/2;
        grid-row: 1/2;
    }

    article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
  
    

    header h1 {
        font-size: 2em;
    }



    footer {
        font-weight: bold;
        
    }
    

   }