h1,h2,ul{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
p,h3{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font: 2em;
    font-weight: lighter;
    margin:0;
}
p{
    margin-top: 5px;
}
main section{
    display: block;
    border: 5px solid dimgray;
    background-color: lightgray;
    padding: 2em;
    text-align: center;
    margin-bottom: 10px;
}

img{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5)
}

ul{
    padding: 3em;
}
ul li{
    list-style-type: none;
    display: inline;
    padding:0.75rem;
}
ul li+li{
    border-left: 2px black;
}
