h1,h2,ul{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
p,h3{
    font-family: 'Montserrat', sans-serif;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px));
}